/* Reset some default styling */
body, h1, p, a, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Basic styling for the body */
  body {
    background-color: #2a0d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Styling for the dashboard container */
  #dashboard {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: scroll;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for the sidebar */
  #sidebar {
    width: 200px;
    max-width: 600px;
    background-color: #333;
    color: white;
  }
  
  .button {
    margin: 10px 0;
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  /* Styling for the main content area */
  #main-content {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    width: 700px;
    max-width: 100%;
  }
  
  .search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px;
}
  .searchbox 
  {
    flex: 1; /* Take available space */
    max-width: 300px; /* Limit width if needed */
    margin-right: 10px;
  }
  .btnsearch
  {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  h1 {
    margin-bottom: 20px;
  }
  
  /* Styling for the logout button */
  #logout-button {
    margin-top: 20px;
  }



.dropdown-content {
    display: none;
}

/* Show the dropdown content when its parent has the "show" class */
.show .dropdown-content {
    display: block;
}

.dashboard {
  padding: 20px;
  background-color: #f0f0f0;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table th {
  background-color: #f2f2f2;
}