<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adminform.css') }}">
    
  </head>
<body>
    <!-- Add your admin dashboard content here -->
    <div id="dashboard">
        <div id="sidebar">
          <a class="button" href="#">Display User Info</a>
          <a class="button" href="#"></a>
          <a class="button" href="#"></a>
          <a class="button" href="#"></a>
          <a class="button" href="#"></a>
          <a class="button" href="{{ url_for('index_page') }}">Logout</a>
    
        </div>
        <div id="main-content">
          <!-- Your main content goes here -->
<!-- Your main content goes here 
<h1>Welcome, {{ name|replace("'", "")|replace("(", "")|replace(")", "")|replace(",", "") }}!</h1>
-->
<h1>Welcome {{ usertype }} {{ username }} </h1>



          <div class="search-container">
          <input type="search" class="searchbox" placeholder="Search...">
          <button class="btnsearch">search</button>
          <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
        <button type="button" class="saveButton" id="saveButton" onclick="saveUser()" style="display: none;">Save</button>
          <br><br>
        </div>
      <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Usertype</th>
            <th>Action</th>
        </tr>   
        
        {% for employee in employees %}
        <tr>
                        <td>{{ employee[0] }}</td>
                        <td>{{ employee[1] }}</td>
                        <td>{{ employee[2] }}</td>
                        <td>{{ employee[3] }}</td>
                        <td>{{ employee[6] }}</td>
                        <td>{{ employee[7] }}</td>
                        <td><button type="button" id="updateButton" onclick="updateUser()">Update</button><button type="button" id="deleteButton" onclick="deleteUser()">Delete</button></td>
                      </tr>
                {% endfor %}
              
    </table>
    <script>
      function updateUser() {
          // Implement the update logic here
          window.alert('Update button clicked');
      }
      function saveUser() {
            // Implement the logic to save user data
            alert('Save button clicked');
            document.getElementById('saveButton').style.display = 'none';
        }
      function deleteUser() {
          // Implement the delete logic here
          alert('Delete button clicked');
      }
  </script>
    </div>
       </div>

<!-- Drop down Settings
        <div class="dropdown">
          <button class="dropbtn" id="dropdownButton">Settings</button>
    <div class="dropdown-content" id="dropdownContent">
              <a href="#">Profile</a>
              <a href="#">Account</a>
              <a href="#">Privacy</a>
              <a href="#">Notifications</a>
              
          </div>
      </div>
      -->
</body>
</html>
