<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="/login" method="POST">
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" required>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      
        <input type="checkbox" id="rememberMe" name="rememberMe">
        <label for="rememberMe">Remember Me</label>
      
        <input type="submit" value="Login">
      </form>
      <h1>Sample Data</h1>
      <table>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
          </tr>
          {% for row in data %}
              <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>{{ row[2] }}</td>
              </tr>
          {% endfor %}
      </table>
</body>
</html>