<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    
    <div class="login-container">
        <h2>Login</h2>
    <form action="/index" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="rememberMe">Remember Me</label>
        <input type="checkbox" id="rememberMe" name="rememberMe">
        
      
        <input type="submit" class="loginbutton" value="Login">
        <p>Don't have an account? 
            <a href="/register">Sign Up</a></p>
      </form>
      </div>
      <script src="{{ url_for('static', filename='js/rememberme.js') }}"></script>
</body>
</html>