<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registeruser.css') }}">
</head>
<body>
  <div class="container">
    <form action="/register"  method="post">
      <h2>Registration Form</h2>
      <label for="name">Name</label>
      <input type="text" name="name" required>

      <label for="email">Email</label>
      <input type="email" name="email" required>

      <label for="age">Age</label>
<input type="number" name="age" maxlength="2" required>

      
      <label for="username">Username</label>
      <input type="text" name="username" required>
      
      <label for="password">Password</label>
      <input type="password" name="password" required>
      
      <label for="date_of_birth">Date of Birth</label>
      <input type="date" name="date_of_birth" min="1900-01-01">
      
      <button type="submit">Register</button>
      <a href="{{ url_for('index_page') }}" style="text-decoration:none">Back to Login</a>
    </form>
  </div>
</body>
</html>
